.header{
    grid-area: header;
}
/* .container {
    max-width: 1100px;
    margin: auto;
} */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header__img {
    width: 100px;
}
.navbar__menu {
}
.navbar__list {
    display: flex;
}
.navbar__item {
    margin-left: 30px;
    font-size: 30px;
    list-style-type: none;
    color: bisque;
}
.navbar__item_active {
    margin-left: 30px;
    font-size: 20px;
    list-style-type: none;
    color: rgb(59, 28, 170);
}