.App {
    background-color: rgb(239, 83, 83);
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 100px 600px 100px;
    grid-template-areas: 
            "header header"
            "sidebar main "
            "footer footer"
}
.container {
    max-width: 1100px;
    margin: auto;
}